    @media screen and (max-width:1400px) {
        .first-piece {
            height: 830px;
        }

        .btn-top {
            z-index: 3124;
        }
    }

    @media screen and (max-width:1200px) {
        nav .btn {
            display: none;
        }
    }

    @media screen and (max-width:1100px) {

        .navbar {
            padding: 10px;
        }

        .navbar__wrap .menu {
            display: none;
        }

        .hamb {
            display: flex;
            align-items: center;
        }

        .hamb__field {
            padding: 10px 20px;
            cursor: pointer;
        }

        .bar {
            display: block;
            width: 30px;
            height: 3px;
            margin: 6px auto;
            background-color: #fff;
            transition: 0.2s;
        }

        .popup {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #304048;
            z-index: 100;
            display: flex;
            transition: 0.3s;
        }

        .popup.open {
            left: 0;
        }

        .popup .menu {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            overflow: auto;
        }

        .popup .menu>li {
            width: 100%;
        }

        .popup .menu>li>a {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px 0;
            font-size: 20px;
            font-weight: 400;
            color: orangered;
            font-family: var(--poppons);
        }

        .popup .menu>li>a:hover {
            background-color: rgba(122, 82, 179, 0.1);
        }

        .hamb__field.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamb__field.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamb__field.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        body.noscroll {
            overflow: hidden;
        }

        .fifth-piece .bottom {
            flex-wrap: wrap;
        }

        .first-piece {
            height: auto;
            padding-bottom: 30px;
        }

        .open h1 {
            font-size: 50px;
        }

        .second-piece .container{
            flex-direction: column;
            height: auto;
            padding-bottom: 40px;
        }

        .third-piece {
            height: auto;
            padding-bottom: 50px;
        }

        .third-piece .bottom {
            flex-direction: column;
            gap: 30px;
        }

        .fifth-piece {
            height: auto;
            padding-bottom: 29px;
        }

        .fifth-piece .bottom {
            flex-direction: column;
            gap: 25px;
        }

        .before-footer {
            padding: 20px;
        }

        .pre-footer {
            flex-direction: column;
            gap: 30px;
        }
    }

    @media screen and (max-width:980px) {

        .first-piece h1 {
            font-size: 45px;
        }

        .after-mid ul {
            flex-wrap: wrap;
        }

        .before-footer h3 {
            margin: 0;
        }

        .pre-mid h3 {
            margin: 0;
        }

        .fourth-piece{
            height: auto;
            padding-bottom: 30px;
            text-align: center;
        }

        .fourth-piece .container{
            flex-direction: column;
        }

        .fourth-piece .left {
            width: 100%;
            padding: 20px;
        }

        .fourth-piece .right {
            width: 100%;
        }

        .fifth-piece {
            height: auto;
            padding-bottom: 20px;
        }

        .fifth-piece .bottom {
            flex-wrap: wrap;
        }

        .fifth-piece .top {
            padding: 20px;
            text-align: center;
        }

        .fifth-piece .top .text {
            margin: 50px;
            width: 100%;
        }

        .third-piece .text {
            width: 100%;
            text-align: center;
        }

        .third-piece .top {
            width: 100%;
            padding: 20px;
            justify-content: center;
        }

        footer {
            height: 1200px;
            gap: 50px;
        }

        footer .container{
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width:700px) {

        .fifth-piece {
            height: auto;
        }

        .second-piece {
            width: 100%;
            height: auto;
        }

        .fifth-piece .bottom .card {
            width: 380px;
        }

        .second-piece .left {
            width: 100%;
            padding: 20px;
        }

        .second-piece .right {
            width: 100%;
            padding: 20px;
            flex-direction: column;
        }

        .third-piece .top h3 {
            margin-left: 0px;
        }

        .fourth-piece h3 {
            margin-left: 0px;
        }

        .fifth-piece .top h3 {
            margin-left: 0px;
        }

        .open {
            width: 100%;
            padding: 140px 30px;
        }

        .third-piece {
            height: auto;
        }

        .third-piece .top {
            flex-direction: column;
            margin-bottom: 30px;
        }

        .mid {
            width: 100%;
            height: auto;
            padding: 30px 27px;
            margin: 0 auto;
            flex-direction: column;
            padding-bottom: 30px;
        }

        .mid h1{
            font-size: 37px;
        }

        .mini-cards {
            flex-wrap: wrap
        }

        .after-mid {
            height: auto;
        }

        .fifth-piece .top {
            flex-direction: column;

        }

        .pre-footer {
            display: none;
        }

        .second-piece .left .tatu {
            width: 370px;
        }

        .second-piece .right h5 {
            width: auto;
        }

        .third-piece h1 {
            font-size: 32px;
        }

        .fourth-piece .right {
            padding: 0;
        }

        .third-piece .bottom .card {
            width: 380px;
        }
    }

    @media screen and (max-width:400px) {

        footer {
            height: auto;
        }

        .fifth-piece {
            height: auto;
        }

        .open {
            padding: 20px;
        }

        .open h3 {
            margin-top: 80px;
        }

        .second-piece {
            height: auto;
        }

        .second-piece .left .tatu {
            width: 320px;
        }

        .second-piece .left {
            width: 100%;
        }

        .second-piece .right {
            width: 100%;
        }


        .second-piece h3 {
            margin-left: 0px;
        }

        .third-piece .bottom .card {
            width: 320px;
        }

        .fifth-piece .bottom .card {
            width: 320px;
        }

        .fifth-piece {
            height: auto;
        }

        .fifth-piece .top {
            flex-direction: column;
        }

        .fifth-piece h1{
            font-size: 27px;
        }

        .after-mid ul {
            gap: 20px;
        }

        .mini-cards {
            height: auto;
        }

        .before-footer {
            height: auto;
        }

        .after-mid .mini-cards {
            margin-top: 50px;
            border-top: 3px orangered dashed;
            padding: 30px 0;
        }

        .before-footer {
            margin: 20px auto
        }

        .before-footer h1 {
            font-size: 34px;
        }

        .mid {
            padding: 20px;
            margin: 50px auto;
        }
    }

    @media screen and (max-width:360px) {

        .logo-img {
            width: 110px;
        }

        .open h3 {
            font-size: 16px
        }

        .second-piece .left .tatu {
            width: 280px;
        }

        .second-piece h1 {
            font-size: 35px;
        }

        .second-piece {
            padding: 20px;
        }

        .second-piece .right {
            padding: 20px;
            width: 100%;
        }

        .third-piece .top .text {
            width: 100%;
        }

        .third-piece .bottom .card {
            width: 260px;
        }

        .fourth-piece {
            height: auto;
            padding: 20px;
        }

        .fourth-piece .right {
            width: 100%;
            padding: 20px;
        }

        .fourth-piece h1 {
            font-size: 35px;
        }

        .fourth-piece .left img {
            width: 300px;
        }

        .fifth-piece .bottom .card {
            width: 270px;
        }

        .mid h1 {
            font-size: 26px;
        }

        .mid .btn {
            font-size: 15px;
            padding: 20px 30px;
        }

        .pre-mid {
            height: auto;
            border-bottom: 3px orangered dashed;
        }

        .pre-mid h1 {
            font-size: 35px;
        }

        .before-footer {
            border-top: 3px dashed orangered;
            margin-top: 40px
        }

        footer {
            height: auto;
            padding: 30px;
        }
    }